.main-wrapper {
    position: relative;
}

.content-area {
    @include flexbox;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;

    .side-menu {
        position: fixed;
        z-index: 9;
        width: 300px;
        float: left;
        bottom: 0;
        left: 0;
        top: 0;
        min-height: 100vh;
        padding: 0px 0px;


        @media only screen and (max-width: 1441px) {
            width: 250px;
        }

        &.side-menu-xm {
            max-width: 53px;

            .side-user-details {
                .pro-pic {
                    display: none;
                }
            }

            .side-navbar {
                .side-navbar-list {
                    .nav-item {
                        .material-icons {
                            margin-right: 0;
                        }

                        p {
                            display: none;
                        }
                    }

                    .sub-menu {
                        li {
                            p {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .side-user-details {
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            //padding-left: 35px;

            .pro-pic {
                max-width: 53px;
            }

            //            .name {
            //                @include flexbox;
            //                @include flex-flow(column);
            //                @include justify-content(center);
            //
            //                h4 {
            //                    font-size: 15px;
            //                    margin: 0;
            //                }
            //
            //                p {
            //                    font-size: 13px;
            //                    margin: 0;
            //                }
            //            }
        }

        .side-navbar {
            list-style-type: none;
            margin: 10px;
            padding: 0;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
            border-radius: 3px;

            .side-navbar-list {
                //margin-bottom: 10px;

                .nav-item {
                    @include flexbox;
                    @include align-items(center);
                    color: #fff;
                    padding: 10px 10px 10px 30px;
                    cursor: pointer;
                    font-size: 18px;
                    text-decoration: none;

                    //border-radius: 3px;
                    @media only screen and (max-width: 1441px) {
                        font-size: 15px;
                    }

                    i {
                        font-size: 18px;
                        font-style: normal;
                        width: 20px;
                        top: 5px;
                        margin-right: 10px;
                    }

                    p {
                        margin: 0;
                    }

                    h4 {
                        margin: 0;
                        margin-left: auto;
                    }

                    &.active {}

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.2);
                        color: white !important;
                        text-shadow: none;
                        border-left: 2px solid #ffffff;
                        padding-left: 28px;
                        position: relative;

                        &:after {
                            border-bottom: 6px solid #ffffff;
                            border-left: 8px solid transparent;
                            border-right: 8px solid transparent;
                            width: 0;
                            height: 0;
                            position: absolute;
                            top: 19px;
                            left: -6px;
                            content: "";
                            display: block;
                            -webkit-transform: rotate(90deg);
                            -moz-transform: rotate(90deg);
                            -ms-transform: rotate(90deg);
                            -o-transform: rotate(90deg);
                            tranform: rotate(90deg);
                        }
                    }

                }

                .sub-menu {
                    li {
                        a {
                            display: flex !important;
                            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
                            color: rgba(255, 255, 255, 0.9) !important;
                            font-size: 13px;
                            font-weight: normal;
                            outline: 0 none;
                            padding: 10px 10px 10px 30px;
                            display: block;

                            i {
                                font-size: 20px;
                                margin-right: 10px;
                            }

                            p {
                                font-size: 14px;
                                margin: 0;
                            }

                            &:hover {
                                background-color: hsla(0, 0%, 78%, .2);
                            }
                        }
                    }
                }
            }
        }
    }

    .wrapper {
        flex: 1;
        position: relative;
        margin-left: 300px;

        @media only screen and (max-width: 1441px) {
            margin-left: 250px;
        }

        &.wrapper-xm {
            margin-left: 70px;
        }
    }
}


.header {
    //    background-color: $white;
    height: 65px;
    position: fixed;
    top: 0;
    right: 0;
    left: 300px;
    z-index: 97;
    background: #365277;

    @media only screen and (max-width: 1441px) {
        left: 250px;
    }

    &.header-xm {
        left: 70px;
    }

    .container-fluid {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .main-header-left {
            @include flexbox;
            @include align-items(center);
            z-index: 999;

            .app-sidebar__toggle {
                .open-toggle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
                    border-radius: 3px;
                    color: rgba(255, 255, 255, 0.8);
                    cursor: pointer;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    width: 30px;
                    font-size: 14px;
                }
            }

            .header-top-menu-left {
                margin-left: 30px;
                @include flexbox;
                @include align-items(center);

                .navbar-nav {
                    float: left;
                    @include flex-flow(row);

                    li {
                        float: left;
                        margin: 0 15px;

                        a {
                            cursor: pointer;
                            color: $white;
                            font-size: 17px;
                            line-height: 16px;
                            color: $white;
                            position: relative;

                            .noft-red {
                                background: none repeat scroll 0 0 #EA3F3F;
                                border-radius: 26px;
                                color: #FFFFFF;
                                font-size: 10px;
                                left: 9px;
                                padding: 0;
                                position: absolute;
                                text-align: center;
                                top: -4px;
                                width: 20px;
                            }
                        }
                    }
                }

            }

            .header-top-menu-center {
                @include flexbox;

                &.time-section {
                    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 30px;
                    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
                    color: #FFFFFF;
                    margin: 6px;
                    padding: 10px 25px 10px 25px;

                    .date-container {
                        border-right: 1px solid rgba(0, 0, 0, 0.4);
                        box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
                        padding-right: 20px;
                        font-size: 13px;

                        i {
                            margin-right: 5px;
                        }

                    }

                    .time-container {
                        @include flexbox;
                        @include align-items(center);
                        //                        border-right: 1px solid rgba(0, 0, 0, 0.4);
                        //                        box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
                        //                        padding-right: 20px;
                        padding-left: 20px;
                        font-size: 13px;

                        i {
                            margin-right: 5px;
                        }

                        #clock {
                            p {
                                display: inline-block;
                                margin: 0;
                            }

                            .unit {
                                position: relative;
                                padding-right: 4px;

                                &:after {
                                    content: ":";
                                    position: absolute;
                                    padding-left: 2px;
                                }

                                &:nth-child(3) {
                                    &:after {
                                        content: "";
                                    }
                                }

                                &:nth-child(4) {
                                    &:after {
                                        content: "";
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }

        .main-header-right {
            .nav {
                .main-profile-menu {
                    .profile-user {
                        color: #fff;
                        font-size: 13px;
                        @include align-items(center);

                        img {
                            margin-left: 0;
                            width: 37px;
                            height: 37px;
                            border-radius: 50%;
                            margin-right: 15px;
                        }

                        .caret {
                            display: inline-block;
                            width: 0;
                            height: 0;
                            margin-left: 2px;
                            vertical-align: middle;
                            border-top: 4px solid;
                            border-right: 4px solid transparent;
                            border-left: 4px solid transparent;
                        }
                    }

                    .dropdown-menu {
                        min-width: 250px;
                        top: 9px !important;

                        .main-header-profile {
                            .main-img-user {
                                img {
                                    width: 37px;
                                    height: 37px;
                                    border-radius: 50%;
                                }

                            }

                            .ml-3 {
                                h6 {
                                    margin: 0;
                                    margin-bottom: 3px;
                                    font-size: 16px;
                                    color: $white;
                                }

                                span {
                                    display: block;
                                    font-size: 12px;
                                    margin-bottom: 0;
                                    color: rgba(255, 255, 255, 0.6);
                                }
                            }
                        }

                        .dropdown-item {
                            position: relative;
                            padding: 20px 16px;
                            height: 38px;
                            display: flex;
                            align-items: center;
                            font-size: 15px;
                            color: #031b4e;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            top: -8.5px;
                            right: 24px;
                            border-bottom: 9px solid $bg-primary;
                            border-left: 9px solid transparent;
                            border-right: 9px solid transparent;
                        }
                    }

                    .navbar-nav {
                        float: left;
                        @include flex-flow(row);

                        .nav-item {
                            @include flexbox;
                            @include align-items(center);

                            a {
                                color: #fff;
                                font-size: 13px;
                                padding: 15px;
                                cursor: pointer;

                                i {
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

.content-wrapper {
    top: 65px;
    position: relative;
    min-height: calc(100vh - 70px);
    padding: 15px;
    //background: #ecf0fa;
    margin-top: 0;
    background: -webkit-linear-gradient(45deg, #f5f5f5 30px, #f5f5f5 30px), -webkit-linear-gradient(135deg, transparent 30px, #f5f5f5 30px), -webkit-linear-gradient(225deg, #f5f5f5 30px, #f5f5f5 30px), -webkit-linear-gradient(315deg, transparent 30px, #f5f5f5 30px);

    &:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        //    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 10px;
        transform: rotate(-90deg);
        border-width: 0px 42px 42px 0px;
        border-style: solid;
        border-color: white rgb(44, 67, 108);
    }

    @media only screen and (max-width: 1441px) {
        margin-top: 0;
    }
}

.tab-section {

    .nav-tabs {
        border-bottom: none;
        padding-bottom: 15px;

        .nav-link {
            font-size: 13px;
            margin: 0 10px;
            color: #3f50f6;
            padding: 3px 15px;
            border-color: transparent;

            &.active {
                color: #fff;
                background-color: $bg-primary;
                border-radius: 25px;

                &:hover {
                    color: #fff;
                }
            }

            &:hover {
                color: #482fae;
                border-color: transparent;
            }
        }
    }

    .tab-content {
        height: calc(100vh - 230px);
        overflow-x: auto;
    }
}


.general-section {
    .small-form-section {
        max-width: 500px;
    }
}

#nav-contact-tab {
    .table-model1 {
        .table {}
    }


}

.actions {
    @include flexbox;

    .edit {
        margin-right: 15px;
        cursor: pointer;

        img {
            max-width: 18px;
        }
    }

    .delete {
        cursor: pointer;

        img {
            max-width: 22px;
        }
    }
}


.project-dashboard-content {
    width: 100%;

    .board-header-main {
        .header-top {
            @include flexbox;

            .p-head-left {
                @include flexbox;
                flex: 1 0;
                min-width: 100px;
                margin-right: 8px;

                .board-name {
                    width: 100%;

                    h4 {
                        margin: 0;
                    }
                }
            }

            .p-head-right {
                flex: 0 0 auto;

                .board-actions {
                    display: flex;

                    .subscribers {
                        margin-right: 15px;

                        .subscriber-list-overlay {
                            display: flex;

                            .subscriber-name {
                                background: #f4617f;
                                height: 30px;
                                width: 30px;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                a {
                                    font-size: 18px;
                                    color: #fff;
                                }
                            }

                            .more-subscriber {
                                background-color: #ffffff;
                                border: 1px solid #009AFF;
                                height: 30px;
                                width: 30px;
                                border-radius: 50%;
                                margin-left: -9px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: #009AFF;
                                cursor: pointer;
                            }
                        }
                    }

                    .automations-menu-wrapper {
                        .automation-menu-button {
                            display: flex;

                            .automation-button {
                                border-radius: 4px;
                                font-size: 14px;
                                border: 1px solid #E1E1E1;
                                padding: 5px 10px;
                                margin-right: 10px;
                                cursor: pointer;
                                background: #fff;

                            }
                        }
                    }

                    .activity-menu-wrapper {
                        .activity-menu-button {
                            .activity-btn {
                                border-radius: 4px;
                                font-size: 14px;
                                border: 1px solid #E1E1E1;
                                padding: 5px 10px;
                                margin-right: 10px;
                                cursor: pointer;
                                background: #fff;
                            }

                            .b-divider {
                                border-right: 1px solid #E1E1E1;
                                margin-left: 5px;
                                margin-right: 6px;
                            }
                        }
                    }

                    .board-menu-action {
                        .action-menu-btn {
                            .btn-arrow-dropdown {
                                width: 30px;
                                height: 30px;
                                cursor: pointer;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transform: rotate(90deg);
                                border-radius: 50px;

                                &:hover {
                                    background: #EDEEF0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .header-bottom {}
    }

}

.board-content-wrapper {
    background: #fff;
    width: 100%;
    min-height: 100vh;
    padding: 10px;

    .board-filter {
        @include flexbox;
        border-bottom: 1px solid #F1F1F1;
        padding: 8px 20px;

        .board-control-component {
            display: flex;
            align-items: center;
            margin-right: 8px;
            width: 100%;
            flex: 1 1;

            .control-component-btn {
                .dropdown {
                    .btn-default {
                        background: transparent;
                        outline: none;
                        box-shadow: none;
                        color: #666 !important;

                        &:hover {
                            color: #009AFF;
                        }
                    }

                    .dropdown-menu {
                        border-radius: 8px;
                        background-color: #ffffff;
                        box-shadow: 0 4px 17px 6px rgba(0, 0, 0, 0.1);
                        width: 300px;
                        border: 0;

                        a {
                            color: #9699a6;
                        }

                    }
                }

            }

        }

        .board-new-item-component {
            margin-right: 16px;

            .new-item-btn {
                .btn-new-item {
                    padding-right: 12px;
                    padding-left: 16px;
                    font-weight: 400;
                    font-size: 15px;
                    display: inline-flex;
                    border-radius: 15rem 0px 0px 15rem;
                    background-color: #009AFF !important;
                    border-color: #009AFF !important;
                    box-shadow: none;

                    &:hover {
                        outline: none;
                        color: #ffffff;
                        background-color: #0083d9 !important;
                        border-color: #0083d9 !important;
                    }
                }

                .btn-arrow-dropdown {
                    outline: none;
                    color: #fff;
                    background-color: #0083d9;
                    border-color: #009AFF;
                    border-left: 1px solid #0083d9;
                    background-image: none;
                    box-shadow: none;
                    background-color: #009AFF !important;
                    border-radius: 0px 15rem 15rem 0px;

                    &:hover {
                        outline: none;
                        color: #ffffff;
                        background-color: #0083d9 !important;
                        border-color: #0083d9 !important;
                    }
                }

                .dropdown-menu {
                    position: relative;
                    border-radius: 8px;
                    background-color: #ffffff;
                    box-shadow: 0 4px 17px 6px rgba(0, 0, 0, 0.1);
                    border: none;
                    padding: 10px;

                    li {
                        a {
                            color: #333333;
                            font-size: 14px;
                            padding: 8px 8px;
                            white-space: nowrap;
                            border-radius: 4px;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            cursor: pointer;

                            i {
                                font-size: 20px;
                                width: 25px;
                            }
                        }

                        &:hover {
                            a {
                                color: #ffffff;
                                background-color: #009AFF;
                                width: 100%;
                            }
                        }
                    }

                }
            }

        }

        .board-filters-component {
            display: flex;
            align-items: center;

            .search-filter {
                input {
                    border: 1px solid #c4c4c4;
                    height: 32px;
                    border-radius: 20px;
                    outline: none;
                    transition-duration: 200ms;
                    transition-timing-function: ease-out;
                    width: 190px;
                    padding-right: 0;
                }
            }

            .profile-filter {
                height: 32px;
                width: 32px;
                border-radius: 20px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 6px;
                margin-right: 6px;
                padding: 0px 5px;

                .menu-icon {
                    display: flex;
                    font-size: 20px;

                    i {
                        padding: 5px;
                    }

                    .item-title {
                        display: none;
                        font-size: 15px;
                    }
                }

                &:hover {
                    background: #EDEEF0;
                }

                &.active {
                    width: 155px;
                    background: #d9f0ff;
                    color: #009AFF;

                    .menu-icon {
                        .item-title {
                            display: block;
                            padding: 5px 0;
                        }
                    }
                }

                &.hidden-columns {
                    .dropdown-menu {
                        min-width: 250px;

                        .head {
                            padding-bottom: 8px;
                            font-weight: 500;
                            margin-top: 8px;
                            margin-bottom: 0;
                        }

                        li {
                            a {
                                display: flex;
                                align-items: center;

                                .custom-checkbox {
                                    margin-left: auto;
                                    line-height: 0;
                                    cursor: pointer;

                                    .c-container {
                                        margin: 0;
                                        line-height: 0;
                                    }
                                }

                                &:hover {
                                    background-color: #F7F7F7;
                                    color: #333;
                                }
                            }

                        }
                    }

                }

                &.filter-column {
                    .dropdown-menu {
                        max-width: calc(95vw - 196px);
                        min-width: 680px;

                        .filter-title {
                            background: transparent;
                            padding: 0px 16px 16px 16px;
                            font-size: 15px;
                            color: #333333;

                            .title-container {
                                @include flexbox;

                                .main-title {
                                    display: flex;
                                    align-items: center;
                                    flex: 1 1 auto;

                                    b {
                                        margin-right: 10px;
                                    }

                                    span {}
                                }

                                .filter-action {
                                    display: flex;
                                    justify-content: flex-end;
                                    flex: 1 1 auto;

                                    .export-to-excel {
                                        margin-right: 25px;
                                        display: flex;
                                        align-items: center;

                                        a {
                                            font-size: 14px;
                                            font-weight: 400;
                                            color: #009AFF;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }

                        .filter-items {
                            .filter-items-inner {
                                padding: 25px;
                                white-space: nowrap;
                                display: inline-block;
                                width: 100%;
                                display: flex;

                                .advanced-filter-item {
                                    display: flex;
                                    flex-flow: column;
                                    width: 120px;
                                    margin-right: 10px;
                                    &.groups {}

                                    &.owner {}

                                    &.status {}

                                    &.date {}

                                    &.priority {}

                                    .filter-head-text {
                                        margin: 0;
                                        font-size: 13px;
                                        color: #808080;
                                        margin-bottom: 10px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }
                                    .filter-items-list-container{
                                        .advanced-filter-option{
                                                display: flex;
                                                height: 32px;
                                                background: #f5f5f5;
                                                border-bottom: 1px solid #e1e1e1;
                                                margin-bottom: 4px;
                                                justify-content: center;
                                                align-items: center;
                                                padding: 5px 8px;
                                                transition: background-color 0.1s ease;
                                                font-size: 13px;
                                                cursor: pointer;
                                                text-decoration: none;
                                            &:hover{
                                                background-color: #e1e1e1;
                                            }
                                            &.groups{
                                                .advanced-filter-option-content{
                                                        flex: 1 1 auto;
                                                        min-width: 0px;
                                                        text-overflow: ellipsis;
                                                        white-space: nowrap;
                                                        overflow: hidden;
                                                        color: rgb(87, 155, 252);
                                                }
                                                .advanced-filter-option-counter{
                                                        flex: 0 0 auto;
                                                        font-size: 12px;
                                                        font-weight: 100;
                                                        color: #a1a1a1;
                                                        margin-left: 5px;
                                                }
                                                
                                            }
                                            &.owner-details{
                                                .advanced-filter-option-content{
                                                        flex: 1 1 auto;
                                                        min-width: 0px;
                                                        text-overflow: ellipsis;
                                                        white-space: nowrap;
                                                        overflow: hidden;
                                                        color: rgb(87, 155, 252);
                                                    img{
                                                        max-width: 23px;
                                                    }
                                                }
                                                .advanced-filter-option-counter{
                                                        flex: 0 0 auto;
                                                        font-size: 12px;
                                                        font-weight: 100;
                                                        color: #a1a1a1;
                                                        margin-left: 5px;
                                                }
                                                
                                            }
                                            &.status-details{
                                                .advanced-filter-option-content{
                                                        flex: 1 1 auto;
                                                        min-width: 0px;
                                                        text-overflow: ellipsis;
                                                        white-space: nowrap;
                                                        overflow: hidden;
                                                        color: #b1b1b1;
                                                    .status-circle{
                                                            display: inline-block;
                                                            width: 10px;
                                                            height: 10px;
                                                            border: 1px solid;
                                                            border-radius: 50%;
                                                            margin-right: 5px;
                                                            flex: 0 0 auto;
                                                        &.blank{
                                                            background: rgb(196, 196, 196);
                                                            border-color: rgb(176, 176, 176);
                                                        }
                                                        &.stuck{
                                                                background: rgb(226, 68, 92);
                                                                border-color: rgb(206, 48, 72);
                                                        }
                                                        &.waiting{
                                                                background: rgb(87, 155, 252);
                                                                border-color: rgb(67, 135, 232);
                                                        }
                                                    }
                                                   
                                                }
                                                .advanced-filter-option-counter{
                                                        flex: 0 0 auto;
                                                        font-size: 12px;
                                                        font-weight: 100;
                                                        color: #a1a1a1;
                                                        margin-left: 5px;
                                                }
                                            }
                                            &.date{
                                                 .advanced-filter-option-content{
                                                        flex: 1 1 auto;
                                                        min-width: 0px;
                                                        text-overflow: ellipsis;
                                                        white-space: nowrap;
                                                        overflow: hidden;
                                                         color: #b1b1b1;
                                                }
                                                .advanced-filter-option-counter{
                                                        flex: 0 0 auto;
                                                        font-size: 12px;
                                                        font-weight: 100;
                                                        color: #a1a1a1;
                                                        margin-left: 5px;
                                                }
                                            }
                                        }
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .board-content-area {
        padding-bottom: 190px;
        padding-top: 18px;
        padding-left: 16px;
        margin-top: 26px;

        .project-table-container {
            .project-table-item {
                .project-group-header-wrapper {
                    @include flexbox;

                    .group-menu {
                        @include flexbox;
                        @include align-items(center);
                        align-items: center;
                        background-color: #fff !important;
                        display: flex;
                        flex: 0 0 30px;
                        justify-content: center;
                        max-width: 30px;
                        z-index: 1;
                    }

                    .name-column-header {
                        position: relative;
                        min-height: 40px;
                        text-align: left;
                        font-size: 18px;
                        background: white;
                        border-right: 1px solid #fff;
                        flex: 1 0 308px;
                        min-width: 0px;
                        display: flex;
                        align-items: center;
                        padding-bottom: 1px;
                        z-index: 1;
                        color: rgb(87, 155, 252);
                        flex-basis: 448px;

                        h4 {
                            margin: 0;
                            font-weight: 400;
                            padding-left: 15px;
                            font-size: 20px;
                        }
                    }

                    .multiple-person-header {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-basis: 120px;
                        max-width: 120px;
                        position: relative;
                        min-width: 0px;
                        text-align: center;
                        min-height: 40px;
                        border-right: 1px solid #fff;
                        flex-grow: 0;
                        flex-shrink: 0;

                        h4 {
                            font-size: 13px;
                            color: #666;
                            font-weight: 400;
                            margin: 0;
                            text-align: center;
                        }
                    }

                    .col-identifier-status {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-basis: 140px;
                        max-width: 140px;
                        background-color: #f5f6f8;
                        border-radius: 8px 0px 0px 0px;
                        border-bottom: 1px solid white;
                        flex-grow: 0;
                        flex-shrink: 0;
                        .head{
                            display: flex;
                            justify-content: center;
                            flex: 1 1 auto;
                            min-width: 0;
                             h4 {
                            font-size: 13px;
                            color: #666;
                            font-weight: 400;
                            margin: 0;
                            text-align: center;
                        }
                        }
                        .btn-action{
                            width: 20px;
                            cursor: pointer;
                            position: relative;
                            .menu-icon{
                                
                            }
                            .dropdown-menu{
                                //transform: unset !important;
                               // top: 0 !important;
                                
                                li a i{
                                    font-size: 17px;
                                    width: 25px;
                                    opacity: 0.7;
                                }
                                
                            } 
                        }


//                        }
                    }

                    .col-identifier-date4 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-basis: 130px;
                        max-width: 130px;
                        background-color: #f5f6f8;
                        border-radius: 0px 8px 0px 0px;
                        flex-grow: 0;
                        flex-shrink: 0;

                        h4 {
                            font-size: 13px;
                            color: #666;
                            font-weight: 400;
                            margin: 0;
                            text-align: center;

                            i {
                                margin-right: 10px;
                            }
                        }
                    }

                    .col-identifier-status1 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-basis: 120px;
                        max-width: 120px;
                        flex-grow: 0;
                        flex-shrink: 0;

                        h4 {
                            font-size: 13px;
                            color: #666;
                            font-weight: 400;
                            margin: 0;
                            text-align: center;
                        }
                    }

                    .add-column-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex: 0 0 38px;
                        font-size: 19px;
                        max-width: 38px;
                        min-width: 0px;
                        padding: 7px 4px 0;
                        text-align: center;

                    }

                }

                .pulse-component-wrapper {
                    @include flexbox;
                    height: 36px;
                    border-bottom: 1px solid white;

                    .project-menu-col {
                        display: flex;
                        flex: 0 0 30px;
                        width: 30px;
                    }

                    .project-name-col {
                        flex: 1 0 308px;
                        flex-basis: 448px;
                        background-color: #f5f6f8;
                        border-bottom: 1px solid #e6e9ef;
                        border-right: 1px solid #fff;

                        .name-cell-component {
                            height: 100%;
                            padding: 0 10px 0 0;
                            @include flexbox;
                            @include align-items(center);

                            .left-indicator {
                                height: 100%;
                                background-color: rgb(87, 155, 252);
                                color: rgb(87, 155, 252);
                                cursor: pointer;

                                .left-indicator-inner {
                                    width: 32px;
                                    position: relative;
                                    width: 8px;
                                    height: 100%;
                                    overflow: hidden;
                                    transition: width 0.1s ease-in;
                                    will-change: width;
                                    transform: translate3d(0, 0, 0);

                                    &:hover {
                                        width: 32px;
                                        ;
                                    }

                                    input {
                                        position: absolute;
                                        top: 11px;
                                        left: 9px;
                                        height: 14px;
                                        width: 14px;
                                        background-color: rgba(0, 0, 0, 0.2);
                                        outline: 1px rgba(255, 255, 255, 0.2) solid;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                }
                            }

                            .name-cell-text {
                                display: flex;
                                flex: 1;
                                align-items: center;
                                min-width: 0;
                                height: 24px;
                                padding-left: 10px;
                                line-height: 24px;
                                text-decoration: none;
                                color: #333333;
                                font-weight: 400;
                                font-size: 13px;

                                .ds-editable-component {}
                            }

                            .conversation-component {
                                .conversation-icon {
                                    a {
                                        cursor: pointer;

                                        i {
                                            font-size: 24px;
                                            color: #c5c7d0;
                                            transition: color 200ms ease;
                                        }

                                        &:hover {
                                            i {
                                                color: black;
                                            }
                                        }
                                    }

                                }
                            }
                        }
                    }

                    .multiple-person-cell {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-basis: 120px;
                        max-width: 120px;
                        position: relative;
                        min-width: 0px;
                        text-align: center;
                        border-right: 1px solid #fff;
                        flex-grow: 0;
                        flex-shrink: 0;
                        background-color: #f5f6f8;
                        border-bottom: 1px solid #e6e9ef;
                        border-right: 1px solid #fff;
                        cursor: pointer;

                        .add-owner {
                            display: none;
                            transform: translateX(-3px);
                            color: #009AFF;
                            z-index: 1;
                            font-size: 14px;
                            margin: 0 -6px;
                            background: white;
                            border-radius: 50%;
                            width: 12px;
                            height: 12px;
                            position: relative;
                        }

                        .profile-filter {
                            line-height: 0;

                            a {
                                i {
                                    font-size: 20px;
                                }
                            }
                        }

                        &:hover {
                            .add-owner {
                                display: block;
                            }
                        }
                    }

                    .identifier-status-cell {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-basis: 140px;
                        max-width: 140px;
                        position: relative;
                        min-width: 0px;
                        text-align: center;
                        border-right: 1px solid #fff;
                        flex-grow: 0;
                        flex-shrink: 0;
                        cursor: pointer;

                        .status-cell-component {

                            //                                        z-index: 999;
                            //                                        position: relative;
                            &.status-print-color {
                                background-color: rgb(196, 196, 196);
                                border-bottom-color: rgb(176, 176, 176);
                                width: 100%;
                                height: 100%;
                            }

                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }

                    .identifier-date4-cell {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-basis: 130px;
                        max-width: 130px;
                        position: relative;
                        min-width: 0px;
                        text-align: center;
                        border-right: 1px solid #fff;
                        flex-grow: 0;
                        flex-shrink: 0;
                        background-color: #f5f6f8;
                    }

                    .identifier-status1-cell {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-basis: 120px;
                        max-width: 120px;
                        position: relative;
                        min-width: 0px;
                        text-align: center;
                        border-right: 1px solid #fff;
                        flex-grow: 0;
                        flex-shrink: 0;

                        .status-cell-component {
                            &.status-print-color {
                                background-color: rgb(196, 196, 196);
                                border-bottom-color: rgb(176, 176, 176);
                                width: 100%;
                                height: 100%;
                            }

                            &:hover {
                                opacity: 0.7;
                            }
                        }

                    }

                    .add-column-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex: 0 0 38px;
                        font-size: 19px;
                        max-width: 38px;
                        min-width: 0px;
                        padding: 7px 4px 0;
                        text-align: center;

                    }
                }
            }
        }
    }
}


.sidebar {
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
    -webkit-transition-property: -webkit-transform, left, right;
    -webkit-backface-visibility: hidden;
    position: relative;
}

.sidebar-right {
    width: 0%;
    display: none;
    height: 100vh;
    background: #fff;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: 1px solid #ddd;
    z-index: 99;
    transition: transform 250ms ease-in-out;
    will-change: transform;

    &.active {
        width: 30% !important;
        display: block;
    }

    .sidebar-close {
        padding: 10px;
        cursor: pointer;

        img {
            max-width: 12px;
        }
    }

    .content-sidebar {
        .nav-tabs {
            .nav-item {
                position: relative;
                display: inline-block;
                cursor: pointer;
                margin-right: 10px;
                padding: 0 7px 2px;
                font-size: 14px;
                text-decoration: none;

                .nav-link {
                    color: #333;
                    text-decoration: none;
                    border: none;

                    &.active {
                        border-bottom: 1px solid #009aff;
                    }
                }

            }
        }

        .tab-content {
            .tab-pane {
                .form-group {
                    justify-content: space-between;
                }
            }
        }

    }


}
